<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gupaoedu-vip-factory/src/com/gupaoedu/vip/factory/abstr/AbstractFactoryTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gupaoedu.vip.factory.abstr.AbstractFactoryTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gupaoedu-vip-factory"/>
</launchConfiguration>
